.message{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.structure-element{
    border-radius: 25px;
    background: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    width: 20;
}